<div
  class="page-header section-dark"
  style="background-image: url('assets/img/antoine-barres.jpg')"
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="title-brand">
      <h1 class="presentation-title">CogniFuze</h1>
      <div class="fog-low">
        <img src="assets/img/fog-low.png" alt="" />
      </div>
      <div class="fog-low right">
        <img src="assets/img/fog-low.png" alt="" />
      </div>
    </div>

    <h2 class="presentation-subtitle text-center">
      Fusing Cognitive thinking to build better world
    </h2>
  </div>
  <div
    class="moving-clouds"
    style="background-image: url('assets/img/clouds.png')"
  ></div>
</div>
<div class="main">
  <!-- <div class=" section text-center container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk product</h2>
                <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                <br>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'">
                            <ngb-tab title="Stikka-Sama" id="stikka">
                                <ng-template ngbTabContent>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>   
                                    <button>Know more</button>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="MarketPlace" id="marketplace">
                                <ng-template id="marketplace" ngbTabContent>
                                    <p>Coming Soon...</p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div> -->

  <div class="section section-dark text-center" id="product">
    <div class="container">
      <h2 class="title">Let's Connect</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/rishabh.jpeg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Rishabh Chaudhary</h4>
                  <h6 class="card-category">Founder · Software Engineer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                Software engineer with 6+ years of experience in building
                scalable backend systems, real-time platforms, and AI-powered
                solutions. Skilled in Java, Angular, SQL optimization, and
                modern AI frameworks including RAG and LangGraph.
              </p>
            </div>
            <div class="card-footer text-center">
              <a
                href="https://www.linkedin.com/in/rishabh-chaudhary/"
                target="_blank"
                class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                href="https://www.github.com/rohanakar"
                target="_blank"
                class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-github"></i
              ></a>
              <button
                onclick="window.location.href='mailto:rishabhc329@gmail.com'"
              >
                <i class="fa fa-google"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>
